@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


:root {
  font-size: 10px;
  font-family: 'Cinzel', serif;
  color: #000;
  text-shadow: 0px 0px 7px rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-size: 3rem;
}

.nav {
  position: fixed;
  font-weight: 700;
  top: 1rem;
  left: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav_text {
  margin-inline: 3rem;
}

.nav_input {
  margin: 2rem;
}

.App_container {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

.App_info {
  font-size: 4rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

.App_btn-changer {
  width: 20rem;
  height: 4rem;
  justify-self: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  margin: 1rem;
}

.App_btn-changer:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.App_btn-changer:active {
  position: relative;
  top: 1px;
}

.App_btn {
  width: 25rem;
  height: 4rem;
  justify-self: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  box-shadow: inset 0px 1px 0px 0px #bee2f9;
  background: linear-gradient(to bottom, #63b8ee 5%, #468ccf 100%);
  background-color: #63b8ee;
  border-radius: 6px;
  border: 1px solid #3866a3;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #7cacde;
  margin: 1rem;
}

.App_btn:hover {
  background: linear-gradient(to bottom, #468ccf 5%, #63b8ee 100%);
  background-color: #468ccf;
}

.App_btn:active {
  position: relative;
  top: 1px;
}

.stop {
  color: #b22222;
}

.start {
  color: #000000;
}

.bottomNav {
  position: fixed;
  bottom: 0
}