@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');


:root {
  font-size: 10px;
  font-family: 'Cinzel', serif;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-size: 3rem;
}

.nav {
  position: absolute;
  font-weight: 700;
}

.App_container {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

.App_text_color {
  font-size: 4rem;
  margin-bottom: 4rem;
  color: white;
  mix-blend-mode: difference;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 1);
}

.App_button {
  width: 14rem;
  height: 3rem;
  justify-self: center;
}